{
  "agent": {
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {% for log in cloudwatch_agent_log_files %}
          {
            "file_path": "{{ log.file_path }}",
            "log_group_name": "{{ log.log_group_name }}",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "{{ log.timestamp_format }}",
            "initial_position": "start_of_file"
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    },
    "force_flush_interval": 15
  },
  "metrics": {
    "metrics_collected": {
      "disk": {
        "measurement": [
          "used_percent"
        ],
        "metrics_collection_interval": 60,
        "resources": [
          "/"
        ]
      },
      "mem": {
        "measurement": [
          "mem_used_percent"
        ],
        "metrics_collection_interval": 60
      },
      "cpu": {
        "measurement": [
          "cpu_usage_idle",
          "cpu_usage_user",
          "cpu_usage_system"
        ],
        "metrics_collection_interval": 60,
        "totalcpu": true
      }
    }
  }
}
